a {
    border-bottom: dashed 1px black;
    color: black;
    text-decoration: none;
}

a:hover {
    border-bottom: none;
    color: black;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
}

h1, h3 {
    font-weight: 700;
}

li {
    list-style: none;
    margin-bottom: 0.6rem;
}

ul {
    padding: 0;
}

h3 {
    margin-top: 1rem;
}

.contenedor {
    margin-top: 1rem;
}

.description {
    font-size: 0.75rem;
    margin-top: 0.2rem;
}

.titulo {
    font-size: 0.9rem;
}

@media (max-width: 991px) {
    #social-media {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    #social-media {
        display: block;
    }
}